@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.title-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.name{
    font-size: 8rem;
    margin-bottom: 10px; 
    color: #0a5f73 ;
    text-shadow: 
    6px 6px 15px #063e4b, 
    -6px -6px 15px #127f97;
    animation-name: test;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#name {animation-timing-function: linear;}

@keyframes test{
    0% {text-shadow: 6px 6px 15px #063e4b, -6px -6px 15px #127f97;}
    50% {text-shadow: 0 0 0 #063e4b, 0 0 0 #127f97;}
    100% {text-shadow: 6px 6px 15px #063e4b, -6px -6px 15px #127f97;}
}

.role{
    font-size: 2rem;
    color: #157382;
    text-shadow: 
    3px 3px 10px #06333d, 
    -2px -2px 10px #278499;
    animation-name: test2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#role {animation-timing-function: linear;}

@keyframes test2{
    0% {text-shadow: 3px 3px 10px #06333d, -2px -2px 10px #278499;}
    50% {text-shadow: 0 0 0 #06333d, 0 0 0  #278499;}
    100% {text-shadow: 3px 3px 10px #06333d, -2px -2px 10px #278499;}
}