
.title-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.name{
    opacity: 1;
    font-size: 8rem;
    margin: 0;
    color: #4C849C;
    text-shadow: 
    5px 5px 10px #294855,
    -5px -5px 10px #6bbadb;
    animation-name: test;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    width: 100vw;
}

#name {animation-timing-function: linear;}

@keyframes test{
    0% {text-shadow: 5px 5px 10px #294855, -5px -5px 10px #6bbadb;}
    50% {text-shadow: 0 0 0 #294855, 0 0 0 #6bbadb;}
    55% {opacity: 0;}
    63% {text-shadow: 0 0 0 #294855, 0 0 0 #6bbadb;}
    100% {text-shadow: 5px 5px 10px #294855, -5px -5px 10px #6bbadb;}
}

.role{
    opacity: 1;
    font-size: 2rem;
    color: #5E95AA;
    text-shadow: 
    3px 3px 5px #1b2e3a, 
    -2px -2px 5px #8bcee9;
    animation-name: test2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#role {animation-timing-function: linear;}

@keyframes test2{
    0% {text-shadow: 3px 3px 5px #1b2e3a, -2px -2px 5px #8bcee9;}
    50% {text-shadow: 0 0 0 #1b2e3a, 0 0 0  #8bcee9;}
    55% {opacity: 0;}
    63% {text-shadow: 0 0 0 #1b2e3a, 0 0 0  #8bcee9;}
    100% {text-shadow: 3px 3px 5px #1b2e3a, -2px -2px 5px #8bcee9;}
}

@media only screen and (max-width: 600px){
    .name{
        font-size: 4.5rem;
        color: #082A53;
        text-shadow: 
        5px 5px 8px #03162e,
        -5px -5px 8px #0e3f7c;    }
    .role{
        font-size: 1.5rem;
        color: #0C3A70;
        text-shadow: 
        3px 3px 3px #072241, 
        -2px -2px 3px #1255a1;
    }
    @keyframes test{
        0% {text-shadow: 5px 5px 8px #03162e, -5px -5px 8px #0e3f7c;}
        50% {text-shadow: 0 0 0 #03162e, 0 0 0 #0e3f7c;}
        55% {opacity: 0;}
        63% {text-shadow: 0 0 0 #03162e, 0 0 0  #0e3f7c;}
        100% {text-shadow: 5px 5px 8px #03162e, -5px -5px 8px #0e3f7c;}
    }
    @keyframes test2{
        0% {text-shadow: 3px 3px 3px #072241, -2px -2px 3px #1255a1;}
        50% {text-shadow: 0 0 0 #072241, 0 0 0  #1255a1;}
        55% {opacity: 0;}
        63% {text-shadow: 0 0 0 #072241, 0 0 0  #1255a1;}
        100% {text-shadow: 3px 3px 3px #072241, -2px -2px 3px #1255a1;}
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 601px){
    .name{
        font-size: 6rem;
        margin-top: 30px;
    }
  }