.navBar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 15px 0 0 0;
    font-family: 'Orbitron', sans-serif;
}

.navBox{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    justify-content: flex-end;
}

.navLink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.3rem;
    width: 120px;
    height: 40px;
}

.navLink:link{
    color: rgb(231, 231, 231);
    text-decoration: none;
}

.navLink:visited{
    color: rgb(231, 231, 231);
}

.navLink:hover{
    font-weight: 1000;
    border-bottom: 2px solid#ffffff;
}

@media only screen and (max-width: 600px){
    .navBar{
        display: none;
    }
}