.port-t-box{
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

.portTitle{
    font-size: 5rem;
    color: #0B2A3A;
    text-shadow: 
    6px 6px 10px rgb(5, 26, 36), 
    -6px -6px 10px rgb(14, 65, 90);
    animation-name: potTitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#portTitle {animation-timing-function: linear;}

@keyframes potTitle{
    0% {text-shadow: 6px 6px 10px rgb(5, 26, 36), -6px -6px 10px rgb(14, 65, 90);}
    50% {text-shadow: 0 0 0 rgb(5, 26, 36), 0 0 0 rgb(14, 65, 90);}
    100% {text-shadow: 6px 6px 10px rgb(5, 26, 36), -6px -6px 10px rgb(14, 65, 90);}
}

.port-layout{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1500px;
}

.project-image{
    height: auto;
    width: 400px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.project-image2{
    height: 203px;
    width: 400px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    background-color: gray;
}

.backCard{
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

.pTitle{
    position: absolute;
    z-index: 1;
}

.pLink{
    position: absolute;
    z-index: 1;
    font-size: 15px;
    margin-top: 180px;
}

/* .pLink:link{
    color: rgb(231, 231, 231);
    text-decoration: none;
}

.pLink:visited{
    color: rgb(231, 231, 231);
}

.pLink:hover{
    font-weight: 1000;
    box-shadow: 
    5px 5px 10px #01131b, 
    -5px -5px 10px #063b53;
}

.pLink:active{
    box-shadow: inset
    3px 3px 3px #011016,
    inset
    -3px -3px 3px #063b53;
} */