body {
  /* background: linear-gradient(180deg, rgba(140,201,172,1) 0%, rgba(218,255,236,1)100%); */
  /* background: linear-gradient(180deg, rgba(12,16,43,1) 0%, rgba(140,145,193,1) 50%, rgba(199,204,221,1) 100%); */
  /* background: linear-gradient(180deg, rgba(20,29,62,1) 0%, rgba(48,58,94,1) 35%, rgba(77,85,133,1) 60%, rgba(178,200,224,1) 100%); */
  /* background: linear-gradient(180deg, rgba(12,16,43,1) 0%, rgba(65,72,124,1) 35%, rgba(155,160,204,1) 66%, rgb(214, 222, 247) 100%); */
  /* background: linear-gradient(
    180deg,
    rgba(12, 16, 43, 1) 1%,
    rgba(65, 72, 124, 1) 38%,
    rgba(155, 160, 204, 1) 73%,
    rgba(199, 208, 236, 1) 100%
  ); */
  background: linear-gradient(180deg, rgba(3,13,25,1) 0%, rgba(5,28,56,1) 28%, rgba(8,46,91,1) 52%, rgba(15,70,133,1) 71%, rgba(89,145,209,1) 100%);
  height: 100vh;
  background-repeat: no-repeat;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&display=swap');

.bigContainer{
  position: relative;
}

.mainContent{
  position: absolute;
  z-index: 1;
}
.svgCloud{
  position: absolute;
}

.t-box {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.subTitle {
  opacity: 1;
  width: 100vw;
  font-size: 6rem;
  color: #04172F;
  text-shadow: 6px 6px 10px #010c18, -6px -6px 10px #082850;
  animation-name: abtTitle;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

#subTitle {
  animation-timing-function: linear;
}

@keyframes abtTitle {
  0% {
    text-shadow: 6px 6px 10px #010c18, -6px -6px 10px #082850;
  }
  50% {
    text-shadow: 0 0 0 #010c18, 0 0 0 #082850;
  }
  55% {
    opacity: 0;
  }
  63% {
    text-shadow: 0 0 0 #010c18, 0 0 0 #082850;
  }
  100% {
    text-shadow: 6px 6px 10px #010c18, -6px -6px 10px #082850;
  }
}

@media only screen and (max-width: 600px) {
  .subTitle {
    font-size: 4rem;
    margin-top: 0;
    color: #061E3C;
    text-shadow: 5px 5px 6px #031120, 
    -5px -5px 6px #092952;
  }
  .svgCloud{
    display: none;
  }
  @keyframes abtTitle {
    0% {
      text-shadow: 5px 5px 6px #031120, -5px -5px 6px #092952;
    }
    50% {
      text-shadow: 0 0 0 #031120, 0 0 0 #092952;
    }
    55% {
      opacity: 0;
    }
    63% {
      text-shadow: 0 0 0 #031120, 0 0 0 #092952;
    }
    100% {
      text-shadow: 5px 5px 6px #031120, -5px -5px 6px #092952;
    }
  }
}

@media only screen and (max-width: 1440px) and (min-width: 601px){
  .svgCloud{
      top: 50px;
  }
}